* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* rgba(128, 171, 209, 1) */
/* rgba(170, 199, 224, 1) */
:root {
  --darkBlue: rgba(0, 87, 163, 1);
  --white: rgba(255, 255, 255, 1);
  --lightWhite: rgba(217, 217, 217, 1);
  --black: rgba(46, 46, 46, 1);
  --paraCol: rgba(0, 0, 0, 1);
  --darkerBlue: rgba(0, 29, 54, 1);

  /* rgba(0, 87, 163, 1) */

  --lightBlue: rgba(170, 199, 224, 1);
  --lighterblue: rgba(0, 87, 163, 0.5);
  --lighterblue2: rgba(204, 221, 237, 1);
  --lightblack: rgba(0, 0, 0, 0.2);

  --font32: 3.2rem;
  --font24: 2.4rem;
  --font20: 2rem;
  --font16: 1.6rem;
  --font18: 1.8rem;
  --font14: 1.4rem;
  --font12: 1.2rem;
  --font10: 1rem;
  --weight500: 500;
  --weight400: 400;
  --weight600: 600;
}
@font-face {
  font-family: "MyCustomFont"; /* Choose a name */
  src: url("../Assets/fonts/Gilroy-FREE/Gilroy-FREE/Gilroy-Light.otf")
    format("opentype"); /* Correct format */
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "MyCustomFont", sans-serif;
}
button {
  font-family: "MyCustomFont", sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.mobille {
  display: flex;
  justify-content: start;
  align-items: end;
  flex-direction: column;
  width: 40rem;
  height: 100vh;
  position: fixed;
  top: 8.5rem;
  right: 0;
  background-color: var(--darkBlue);
  padding: 4rem;
  z-index: 10;
  gap: 25rem;
}

.open {
  transform: translateX(0);
}

.closed {
  transform: translateX(100%);
}

.carret-left {
  position: absolute;
  top: 2rem;
  left: 2rem;
  cursor: pointer;
}

.darkOverlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.596);
  width: 100vw;
  height: 100vh;
  z-index: 5;
}

.hide {
  display: none !important;
}
.serviceDrop {
  cursor: pointer;
}
.mobille ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  gap: 0.4rem;
}

.mobille ul li,
.mobille ul a {
  font-size: var(--font14);
  /* line-height: 2.1rem; */
  color: var(--white);
  font-weight: var(--weight500);
  text-decoration: none;
  list-style: none;
  height: 4.4rem;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  /* max-width: 124rem; */
  padding: 2rem 0;
  position: fixed;
  top: 0;
  background-color: var(--white);
  /* height: 4rem; */
  z-index: 10;
}
.innerNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  max-width: 124rem;
  padding: 2rem 0;

  /* height: 4rem; */
}
nav ul {
  display: none;
}
.navBtn {
  display: none;
}
.logoCont {
  width: 10rem;
  height: 100%;
}
.logoCont img {
  width: 100%;
  height: 100%;
}

.ham {
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
}
.ham img {
  width: 100%;
  height: 100%;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 48rem;
  color: var(--paraCol);
  gap: 2rem;
  background: linear-gradient(to bottom, white 0%, rgba(170, 199, 224, 1) 30%);
  padding-top: 3rem;
  height: 48rem;
  margin-top: 12rem;
}
.overlay {
  background-image: url(../Assets/Pharmacist_assisting_customer.png);
  background-repeat: no-repeat;
  background-position: right 20rem;
  background-size: 25rem;
  width: 100%;
  height: 100%;
  position: absolute;
}
.innerHeader {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  text-align: start;
  width: 90vw;
  max-width: 124rem;
  gap: 3.2rem;
  height: 100%;
  position: relative;
}
.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 2.8rem;
  z-index: 4;
}
.innerHeader h1 {
  font-size: var(--font24);
  font-weight: var(--weight600);
  line-height: 3.6rem;
}
.innerHeader p {
  font-size: var(--font14);
  font-weight: var(--weight400);
  line-height: 2.1rem;
}

.innerHeader .btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}
.innerHeader .btns button {
  padding: 1.6rem 2.4rem;
  font-weight: var(--weight400);
  font-size: var(--font14);
  border-radius: 0.2rem;
}
.innerHeader .btns :first-child {
  background-color: var(--darkBlue);
  border: none;
  color: var(--white);
}
.innerHeader .btns :last-child {
  background: transparent;
  border: 1px solid var(--darkBlue);
  color: var(--darkBlue);
}

article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 67.7rem;
  gap: 2rem;
}
.innerArt {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  height: 100%;
  /* max-width: 67.8rem; */
  gap: 2rem;
}
article .left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 0.8rem;
  max-width: 69.457rem;
  height: 100%;
}
.imgCont1 {
  width: 21.28rem;
  height: 25.6rem;
}
.imgCont1 img {
  width: 100%;
  height: 100%;
}

article .left h1 {
  font-size: var(--font20);
  font-weight: var(--weight600);
  line-height: 3rem;
}
.headXp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 2rem;
}
article p {
  font-size: var(--font14);
  font-weight: var(--weight400);
  line-height: 2.1rem;
}
.innerArt .btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}
.innerArt .btns button {
  padding: 1.6rem 2.4rem;
  font-weight: var(--weight400);
  font-size: var(--font14);
  border-radius: 0.2rem;
}
.innerArt .btns :first-child {
  background-color: var(--darkBlue);
  border: none;
  color: var(--white);
}
.innerArt .btns :last-child {
  background: transparent;
  border: 1px solid var(--darkBlue);
  color: var(--darkBlue);
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vw;
  gap: 2rem;
}
.texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  max-width: 56.4rem;
  align-self: flex-start;
  gap: 1.2rem;
}

aside h1 {
  font-size: var(--font20);
  font-weight: var(--weight600);
  line-height: 3rem;
  align-self: flex-start;
}
aside p {
  font-size: 1.6rem;
  font-weight: var(--weight400);
  line-height: 2.4rem;
  align-self: flex-start;
}

aside .imgCont {
  /* align-self: flex-end; */
  width: 100%;
  max-width: 43rem;
  display: flex;
  justify-content: end;
}

aside .imgCont img {
  width: 100%;
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  color: var(--paraCol);
  gap: 2rem;
  background: linear-gradient(
    to bottom,
    rgba(0, 87, 163, 1) 30%,
    rgba(0, 29, 54, 1) 60%
  );

  padding: 3rem 0;
}

.topFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 90%;
  gap: 2rem;
  max-width: 124rem;
}
.footerLogo {
  display: none;
}

form {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 1.2rem;
}
form h3 {
  color: var(--white);
  font-size: var(--font20);
  line-height: 3rem;
  font-weight: var(--weight600);
}
form label {
  color: var(--white);
  font-size: var(--font14);
  line-height: 2.1rem;
  font-weight: var(--weight400);
  text-align: start;
}
.inputXbtn {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
}
form input {
  color: var(--black);
  font-size: var(--font14);
  line-height: 2.1rem;
  font-weight: var(--weight400);
  background-color: var(--lighterblue2);
  border: none;
  outline: none;
  text-align: start;
  width: 70%;
  height: 4.6rem;
  padding-left: 2rem;
}
form button {
  color: var(--white);
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-weight: var(--weight400);
  background-color: var(--darkBlue);
  border: none;
  outline: none;
  width: 30%;
  height: 5rem;
  cursor: pointer;
}
.form2 {
  display: none;
}

.topFooter ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 2.6rem;
}
.topFooter ul li,
.topFooter ul a {
  font-size: var(--font14);
  line-height: 1.68rem;
  color: var(--white);
  font-weight: var(--weight400);
  text-decoration: none;
  list-style: none;
}

.bottomFooter {
  width: 90%;
  border-top: 1px solid var(--white);
  padding: 2rem 0;
  display: flex;
  flex-direction: column-reverse;
  gap: 2.4rem;
  color: var(--white);
  font-size: var(--font10);
  line-height: 1.5rem;
  font-weight: var(--weight400);
  max-width: 124rem;
}
.bottomFooter p {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.bottomFooter span {
  width: 2.2rem;
  height: 2.2rem;
  border: 1px solid var(--white);
  border-radius: 100%;
  font-size: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.socialIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.socialIcons img {
  width: 2.4rem;
  height: 2.4rem;
}
button:hover {
  font-weight: var(--weight600);
}
