* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* rgba(128, 171, 209, 1) */
/* rgba(170, 199, 224, 1) */
:root {
  --darkBlue: rgba(0, 87, 163, 1);
  --white: rgba(255, 255, 255, 1);
  --lightWhite: rgba(217, 217, 217, 1);
  --black: rgba(46, 46, 46, 1);
  --paraCol: rgba(0, 0, 0, 1);
  --darkerBlue: rgba(0, 29, 54, 1);

  /* rgba(0, 87, 163, 1) */

  --lightBlue: rgba(170, 199, 224, 1);
  --lighterblue: rgba(0, 87, 163, 0.5);
  --lighterblue2: rgba(204, 221, 237, 1);
  --inputBg: rgba(249, 250, 251, 1);
  --border: rgba(228, 231, 236, 1);
  --green: rgba(3, 107, 38, 1);
  --ash: rgba(240, 242, 245, 1);

  --font32: 3.2rem;
  --font24: 2.4rem;
  --font20: 2rem;
  --font16: 1.6rem;
  --font18: 1.8rem;
  --font14: 1.4rem;
  --font12: 1.2rem;
  --font10: 1rem;
  --weight500: 500;
  --weight400: 400;
  --weight600: 600;
}
@font-face {
  font-family: "MyCustomFont"; /* Choose a name */
  src: url("../Assets/fonts/Gilroy-FREE/Gilroy-FREE/Gilroy-Light.otf")
    format("opentype"); /* Correct format */
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 62.5%;
}
body {
  font-family: "MyCustomFont", sans-serif;
}
button {
  font-family: "MyCustomFont", sans-serif;
}
.deskCont {
  display: none;
}
.tabCont {
  display: none;
}
.mobileCont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* gap: 2rem; */
  width: 100vw;
  gap: 2.5rem;
  margin-top: 10rem;
}

.mobille {
  display: flex;
  justify-content: end;
  align-items: start;
  width: 22.6rem;
  height: 100vh;
  position: fixed;
  top: 8.5rem;
  right: 0;
  background-color: var(--darkBlue);
  padding: 4rem;
  z-index: 10;
}

.hide {
  display: none;
}

.mobille ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  gap: 0.4rem;
}

.mobille ul li,
.mobille ul a {
  font-size: var(--font14);
  /* line-height: 2.1rem; */
  color: var(--white);
  font-weight: var(--weight500);
  text-decoration: none;
  list-style: none;
  height: 4.4rem;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 2rem 0;
  position: fixed;
  top: 0;
  background-color: var(--white);
  z-index: 10;
}

.innerNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  padding: 2rem 0;

  /* height: 4rem; */
}
nav ul {
  display: none;
}
.navBtn {
  display: none;
}
.logoCont {
  width: 10rem;
  height: 100%;
}
.logoCont img {
  width: 100%;
  height: 100%;
}

.ham {
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
}
.ham img {
  width: 100%;
  height: 100%;
}
main {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  justify-content: center;
  align-items: start;
  width: 90%;
  margin-top: 5rem;
}

.leftTop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1.2rem;
}

main input {
  width: 100%;
  height: 5rem;
  padding-left: 5rem;
  background-image: url(../Assets/search.png);
  background-repeat: no-repeat;
  background-size: 2.4rem;
  background-position: 2rem 1rem;
  border-radius: 1rem;
  border: none;
  background-color: var(--inputBg);
  outline: var(--inputBg);
}

main h1 {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 3.6rem;
}
main p {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.912rem;
}

aside {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  gap: 1.2rem;
  overflow: auto;
}
.aside::-webkit-scrollbar {
  display: none;
}
.aside::-moz-scrollbar {
  display: none;
}
aside .icon {
  /* width: 11.1rem;
  height: 4.6rem; */
  padding: 1.1rem 1.3rem;
  background-color: var(--ash);
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
aside .icon img {
  width: 2rem;
  height: 2rem;
}
aside .icon p {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.8rem;
}
aside .icon span {
  width: 2.4rem;
  height: 2.4rem;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.8rem;
}

aside .icon:first-child {
  background-color: var(--lighterblue2);
}
aside .icon:first-child span {
  background-color: var(--darkBlue);
  color: var(--white);
}

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2rem;
}

.newAppoints {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2rem;
}

.navArea {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4.8rem;
  border: 1px solid var(--border);
}
.innerNavArea {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
.navArea p {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.456rem;
}
.navArea img {
  width: 2.4rem;
  height: 2.4rem;
}

.docs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  border-bottom: 1px solid var(--border);
  padding-bottom: 1rem;
}
.docProfile {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
  align-items: center;
}

.docProfile img {
  width: 3.2rem;
  height: 3.2rem;
}

.docname {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1.2rem;
}
.docs p {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.912rem;
}
.docs button {
  padding: 1rem;
  border: 1px solid var(--border);
  border-radius: 0.6rem;
  background: none;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.639rem;
}
.new {
  /* width: 18.1rem;
  height: 5.6rem; */
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  border: none;
  border-radius: 1rem;
  background: var(--darkBlue);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.1rem;
  color: var(--white);
}
.calendarCont {
  width: 90%;
}
.calendarCont img {
  width: 100%;
}
