:root {
  --darkBlue: rgba(0, 87, 163, 1);
  --white: rgba(255, 255, 255, 1);
  --lightWhite: rgba(217, 217, 217, 1);
  --black: rgba(46, 46, 46, 1);
  --paraCol: rgba(0, 0, 0, 1);
  --darkerBlue: rgba(0, 29, 54, 1);

  /* rgba(0, 87, 163, 1) */

  --lightBlue: rgba(170, 199, 224, 1);
  --lighterblue: rgba(0, 87, 163, 0.5);
  --border: rgba(228, 231, 236, 1);
  --grey: rgba(249, 250, 251, 1);

  --font32: 3.6rem;

  --font24: 4.8rem;
  --font20: 3.6rem;

  --font16: 2.4rem;
  /* --font18: 1.8rem; */

  --font14: 1.6rem;
  --font12: 2.4rem;
  --font10: 1.4rem;
}
.tabCont {
  display: none;
}
.deskCont {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
.innerDesk {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 0;
}
.sideBar {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--border);
  width: 20%;
  height: 102.4rem;
}
.topBar {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 42rem;
  gap: 1.2rem;
  width: 100%;
}
.topBar .logoCont {
  width: 20rem;
  height: 8rem;
}
.sideBar ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 90%;
}
.sideBar ul a {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 4.8rem;
  gap: 1.2rem;
  width: 100%;
  padding-left: 2rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.1rem;
  text-decoration: none;
  color: var(--black);
  border-radius: 0.4rem;
}
.active {
  background-color: var(--lightBlue);
  color: var(--darkBlue) !important;
}
.bottomBar {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 19rem;
  gap: 1.2rem;
  width: 100%;
}
.bottomBar span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  width: 100%;
  cursor: pointer;
}

.mainCont {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 102.4rem;
  justify-content: space-between;
  width: 80%;
  gap: 2rem;
  background-color: var(--grey);
}
nav {
  width: 90%;
  height: 10rem;
  position: relative;
}
.innerNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2rem 0;

  /* height: 4rem; */
}
#locationInput {
  width: 70%;
  height: 5rem;

  padding-left: 5rem;
  background-image: url(../Assets/search.png);
  background-repeat: no-repeat;
  background-size: 2.4rem;
  background-position: 2rem 1rem;
  border-radius: 1rem;
  border: none;
  background-color: var(--inputBg);
  outline: var(--inputBg);
}

.notification {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.notification img:first-child {
  width: 4rem;
  height: 4rem;
}
.notification img:last-child {
  width: 5rem;
  height: 5rem;
}
.mobilenav {
  display: none;
}
main {
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 0;
  background-color: var(--white);
}
.innerMain {
  flex-direction: column;
  align-items: start;
  justify-content: space-between;

  width: 90%;
}

main .currentdate {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.8rem;
  width: 22.1rem;
  height: 6.7rem;
  border: 1px solid var(--border);
  border-radius: 1rem;
  text-wrap: nowrap;
}
main h1 {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 2.94rem;
}
main .prof p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.92rem;
}
main .currDate {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 0.4rem;
}
main .currDate p {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.68rem;
}
.topCont {
}
.topCont {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  width: 90%;
  /* height: ; */
  gap: 2rem;
}
.topCont {
}
.boxes {
  grid-template-columns: 1fr;
  width: 100%;
  max-width: 59.4rem;
  justify-items: start;
  max-width: 40rem;
}
.left {
  width: 100%;
  width: 59.4rem;
  overflow: auto;
  height: 75rem;
  justify-content: start;
}
.left::-webkit-scrollbar {
  display: none;
}
.left::-moz-scrollbar {
  display: none;
}
.box {
  display: flex;
  justify-content: space-between;
  align-items: start;
  /* flex-direction: row; */
  border: 1px solid var(--border);
  gap: 2.4rem;
  width: 100%;
  padding: 1rem;
  max-width: 40rem;
  height: 23.9rem;
  padding: 4rem;
  position: relative;
}
.text2 {
}

.topCont aside {
  /* width: 20%; */
  width: 80%;
  height: 74.7rem;
}
.topCont aside img {
  width: 100%;
  height: 100%;
}
.sideBar ul a:hover {
  background-color: var(--lighterblue2);
}
.edit {
  display: flex;
  position: absolute;
  top: 4rem;
  right: 4rem;
  cursor: pointer;
}

.viewMore {
  display: none;
}
