* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* outline: 1px solid red; */
}
/* rgba(128, 171, 209, 1) */
/* rgba(170, 199, 224, 1) */
:root {
  --darkBlue: rgba(0, 87, 163, 1);
  --white: rgba(255, 255, 255, 1);
  --lightWhite: rgba(217, 217, 217, 1);
  --black: rgba(46, 46, 46, 1);
  --paraCol: rgba(0, 0, 0, 1);
  --darkerBlue: rgba(0, 29, 54, 1);

  /* rgba(0, 87, 163, 1) */

  --lightBlue: rgba(170, 199, 224, 1);
  --lighterblue: rgba(0, 87, 163, 0.5);
  --lighterblue2: rgba(204, 221, 237, 1);
  --inputBg: rgba(249, 250, 251, 1);
  --border: rgba(228, 231, 236, 1);
  --green: rgba(3, 107, 38, 1);

  --font32: 3.2rem;
  --font24: 2.4rem;
  --font20: 2rem;
  --font16: 1.6rem;
  --font18: 1.8rem;
  --font14: 1.4rem;
  --font12: 1.2rem;
  --font10: 1rem;
  --weight500: 500;
  --weight400: 400;
  --weight600: 600;
}
@font-face {
  font-family: "MyCustomFont"; /* Choose a name */
  src: url("../Assets/fonts/Gilroy-FREE/Gilroy-FREE/Gilroy-Light.otf")
    format("opentype"); /* Correct format */
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "MyCustomFont", sans-serif;
}
.mobille {
  display: flex;
  justify-content: start;
  align-items: end;
  flex-direction: column;
  width: 40rem;
  height: 100vh;
  position: fixed;
  top: 5rem;
  right: 0;
  background-color: var(--darkBlue);
  padding: 4rem;
  z-index: 21;
  gap: 25rem;
  width: 22.6rem;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
}

.openmobile {
  transform: translateX(0);
}

.closed {
  transform: translateX(100%);
}
.darkOverlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.596);
  width: 100vw;
  height: 100%;
  z-index: 20;
}

.hide {
  display: none !important;
}
.hide {
  display: none;
}

.mobille ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  gap: 0.4rem;
}

.mobille ul li,
.mobille ul a {
  font-size: var(--font14);
  /* line-height: 2.1rem; */
  color: var(--white);
  font-weight: var(--weight500);
  text-decoration: none;
  list-style: none;
  height: 4.4rem;
}
button {
  font-family: "MyCustomFont", sans-serif;
}

/* .tabCont {
  display: none;
}
.deskCont {
  display: none;
} */
.mobileCont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* gap: 2rem; */
  width: 100vw;
  gap: 2.5rem;
  margin-top: 10rem;
}

.mobilenav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 2rem 0;
  position: fixed;
  top: 0;
  background-color: var(--white);
  z-index: 10;
}
.notification {
  display: none;
}

.innerNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 2rem 0;

  /* height: 4rem; */
}
nav ul {
  display: none;
}
.navBtn {
  display: none;
}
.logoCont {
  width: 10rem;
  height: 100%;
}
.logoCont img {
  width: 100%;
  height: 100%;
}

.ham {
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
}
.ham img {
  width: 100%;
  height: 100%;
}
.breadCrumb {
  display: none;
  /* flex-direction: column;
  gap: 1.6rem;
  justify-content: center;
  align-items: start;
  width: 90%;
  margin-top: 5rem; */
}

#locationInput {
  width: 100%;
  height: 5rem;
  padding-left: 5rem;
  background-image: url(../Assets/search.png);
  background-repeat: no-repeat;
  background-size: 2.4rem;
  background-position: 2rem 1rem;
  border-radius: 1rem;
  border: none;
  background-color: var(--inputBg);
  outline: var(--inputBg);
}
h1 {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 3.6rem;
}

.leftTop {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 0.8rem;
}
.merian {
  width: 100%;
  display: flex;
  gap: 0.8rem;
  justify-content: space-between;
  align-items: center;
  color: var(--black);
}
.merian a {
  font-size: 1.4rem;
  color: var(--darkBlue);
  text-decoration: none;
  line-height: 150%;
}
.merian span {
  display: flex;
  gap: 0.6rem;
  justify-content: center;
  align-items: center;
  color: var(--black);
  font-size: 1.4rem;
  line-height: 1.9rem;
  font-weight: 400;
}

.topCont {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  width: 90%;
  gap: 2rem;
}
.topCont aside {
  width: 100%;
  height: 46.1rem;
}
.topCont aside img {
  width: 100%;
  height: 100%;
}

.left {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  width: 100%;
  gap: 1.2rem;
  overflow: auto;
}
.left::-webkit-scrollbar {
  display: none;
}
.left::-moz-scrollbar {
  display: none;
}
.boxes {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 2rem;
  width: 205.2rem;
  gap: 1.2rem;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  border: 1px solid var(--border);
  gap: 2.4rem;
  padding: 1rem;
  width: 24.6rem;
  /* height: 20.9rem; */
  height: auto;
  border-radius: 0.6rem;
}
.text2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.6rem;
}
.box .text2 h5 {
  font-size: 1.4rem;
  line-height: 2.1rem;
  font-weight: 600;
  align-self: flex-start;
}
.box .text2 span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  font-size: 1.4rem;
  line-height: 2.1rem;
  font-weight: 600;
}
.box .text2 span p {
  color: var(--green);
}
.box .text2 p {
  font-size: 1.4rem;
  line-height: 2.1rem;
  font-weight: 400;
}
.box a {
  font-size: 1.4rem;
  line-height: 2.1rem;
  font-weight: 400;
  color: var(--darkBlue);
  text-decoration: none;
}
.spans {
  width: 16rem;
  display: flex;
  align-self: center;
  justify-content: space-between;

  justify-content: center;
  gap: 0.8rem;
}
.spans span {
  width: 1.2rem;
  height: 0.6rem;
  border: 1px solid var(--darkBlue);
  border-radius: 0.6rem;
}
.spans .activeSpan {
  width: 1.6rem;
  height: 0.6rem;
  background-color: var(--darkBlue);
}
/* hwjjjjjjjjj */
.overlay {
  background-color: rgba(58, 51, 51, 0.37);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  display: flex;

  justify-content: center;
  align-items: center;
}
.overMobileCont {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  /* width: 100vw; */
  gap: 2rem;
  padding: 2rem 0;
  width: 33.5rem;
  /* position: absolute; */
  background-color: var(--white);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20;
  width: 100vw;
  transform: translateY(100%);
  transition: transform 0.5s ease-in-out;
  height: 70vh;
  overflow-y: auto;
}
.overMobileCont::-webkit-scrollbar {
  display: none;
}
.overMobileCont::-moz-scrollbar {
  display: none;
}
.open {
  transform: translateY(0);
}

.closed {
  transform: translateY(100%);
}
.topContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-direction: column;
  gap: 1.6rem;
  width: 90%;
}
.topContainer .text {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 1.6rem;
}
.topContainer .text h5 {
  font-size: 1.4rem;
  line-height: 2.1rem;
  font-weight: 600;
}
.topContainer .text span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  font-size: 1.4rem;
  line-height: 2.1rem;
  font-weight: 600;
}

.topContainer .text p {
  font-size: 1.4rem;
  line-height: 2.1rem;
  font-weight: 400;
}
.address {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 90%;
  gap: 0.8rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.1rem;
}

.overviewBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.overviewBtn button {
  width: 50%;
  height: 6rem;
  border: none;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.8rem;
  cursor: pointer;
  background-color: var(--lighterblue2);
  color: var(--black);
}
.overviewBtnactive {
  background-color: var(--darkBlue) !important;
  color: var(--white) !important;
}
.overviewBtn button:last-child {
}

.rating {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.2rem;
  border-top: 1px solid var(--black);
  border-bottom: 1px solid var(--black);
  padding: 2rem 0;
}
.innerRating {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  width: 90%;
  gap: 1.2rem;
}
.rating h2 {
  font-size: 1.6rem;
}
.rateContainer {
  display: flex;
  justify-content: space-between;
  align-items: start;
  /* flex-direction: column; */
  width: 100%;

  /* gap: 10.4rem; */
}
.level {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.4rem;
}
.level1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}

.level1 p {
  font-size: 1.4rem;
}

.outer {
  width: 16.262rem;
  background-color: #e4e7ec;
  height: 0.3rem;
  position: relative;
  border-top-right-radius: 0.1rem;
  border-bottom-right-radius: 0.1rem;
}
.inner {
  width: 100%;
  background-color: #f5b546;
  height: 0.3rem;
  z-index: 4;
  position: absolute;
  border-top-right-radius: 0.1rem;
  border-bottom-right-radius: 0.1rem;
}
.five {
  width: 70%;
}
.two {
  width: 20%;
}
.one {
  width: 0;
}

.number {
  display: flex;
  justify-self: center;
  align-items: center;
  flex-direction: column;
  gap: 1.6rem;
}
.number span {
  font-size: 3.2rem;
}
.number p {
  font-size: 1.2rem;
}

.star {
  display: flex;
  justify-self: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}

.bottomReview {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.WriteReview {
  width: 26rem;
  height: 5.6rem;
  background-color: var(--darkBlue);
  border-radius: 0.6rem;
  border: none;
  color: var(--white);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  margin: 2rem 0;
}
#reviewCont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.div1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
  gap: 2.6rem;
  width: 100%;
  padding: 4rem 0;
}
.innerDiv1 {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 1.6rem;
  width: 90%;
  /* border: 1px solid blue; */
}

.innerDiv1 h2 {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.profile {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  gap: 2rem;
}

.profile #rate {
  width: 4.8rem;
  height: 4.8rem;
}
.profile span {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 0.2rem;
}
.profile span h5 {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 150%;
}

.occupation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.profile span p {
  font-size: 1.4rem;
  font-weight: 500;
}
.profile span h6 {
  font-size: 1.4rem;
  font-weight: 600;
}

#star {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
#star p {
  font-size: 1.4rem;
}

.writeUp {
  font-size: 1.6rem;
}

.hide {
  display: none;
}

#map {
  height: 500px;
  width: 100%;
  z-index: 5;
}
#search-container {
  margin: 10px 0;
}

.searchXBtn {
  width: 100%;
}
.searchXBtn button {
  width: 10rem;
  height: 4.5rem;
  border: none;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.8rem;
  cursor: pointer;
  background-color: var(--darkBlue);
  color: var(--white);
  border-radius: 0.6rem;
}

.mainCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 2.4rem;
}

.leftTop {
  width: 90%;
}
.innerLeftTop {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1.8rem;
}

.edit {
  display: none;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.innerMain {
  width: 90%;
}
