* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* rgba(128, 171, 209, 1) */
/* rgba(170, 199, 224, 1) */
:root {
  --darkBlue: rgba(0, 87, 163, 1);
  --white: rgba(255, 255, 255, 1);
  --lightWhite: rgba(217, 217, 217, 1);
  --black: rgba(46, 46, 46, 1);
  --paraCol: rgba(0, 0, 0, 1);
  --darkerBlue: rgba(0, 29, 54, 1);

  /* rgba(0, 87, 163, 1) */

  --lightBlue: rgba(170, 199, 224, 1);
  --lighterblue: rgba(0, 87, 163, 0.5);
  --lighterblue2: rgba(204, 221, 237, 1);
  --inputBg: rgba(249, 250, 251, 1);
  --border: rgba(228, 231, 236, 1);
  --green: rgba(3, 107, 38, 1);
  --ash: rgba(240, 242, 245, 1);

  --font32: 3.2rem;
  --font24: 2.4rem;
  --font20: 2rem;
  --font16: 1.6rem;
  --font18: 1.8rem;
  --font14: 1.4rem;
  --font12: 1.2rem;
  --font10: 1rem;
  --weight500: 500;
  --weight400: 400;
  --weight600: 600;
}
@font-face {
  font-family: "MyCustomFont"; /* Choose a name */
  src: url("../Assets/fonts/Gilroy-FREE/Gilroy-FREE/Gilroy-Light.otf")
    format("opentype"); /* Correct format */
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 62.5%;
}
body {
  font-family: "MyCustomFont", sans-serif;
}
button {
  font-family: "MyCustomFont", sans-serif;
}
.deskCont {
  display: none;
}
.tabCont {
  display: none;
}
.mobileCont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* gap: 2rem; */
  width: 100vw;
  gap: 2.5rem;
  margin-top: 10rem;
}

.mobille {
  display: flex;
  justify-content: end;
  align-items: start;
  width: 22.6rem;
  height: 100vh;
  position: fixed;
  top: 8.5rem;
  right: 0;
  background-color: var(--darkBlue);
  padding: 4rem;
  z-index: 10;
}

.hide {
  display: none;
}

.mobille ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  gap: 0.4rem;
}

.mobille ul li,
.mobille ul a {
  font-size: var(--font14);
  /* line-height: 2.1rem; */
  color: var(--white);
  font-weight: var(--weight500);
  text-decoration: none;
  list-style: none;
  height: 4.4rem;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 2rem 0;
  position: fixed;
  top: 0;
  background-color: var(--white);
  z-index: 10;
}

.innerNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  padding: 2rem 0;

  /* height: 4rem; */
}
nav ul {
  display: none;
}
.navBtn {
  display: none;
}
.logoCont {
  width: 10rem;
  height: 100%;
}
.logoCont img {
  width: 100%;
  height: 100%;
}

.ham {
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
}
.ham img {
  width: 100%;
  height: 100%;
}
main {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  justify-content: center;
  align-items: start;
  width: 90%;
  margin-top: 5rem;
}

.leftTop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1.2rem;
}

main input {
  width: 100%;
  height: 5rem;
  padding-left: 5rem;
  background-image: url(../Assets/search.png);
  background-repeat: no-repeat;
  background-size: 2.4rem;
  background-position: 2rem 1rem;
  border-radius: 1rem;
  border: none;
  background-color: var(--inputBg);
  outline: var(--inputBg);
}

main h1 {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 3.6rem;
}
main p {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.912rem;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2rem;
}

.topContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  border: 1px solid var(--border);
  border-radius: 0.6rem;
  padding: 2rem;
  gap: 2rem;
}

.topContainer .profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}
.topContainer .profile h4 {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.96rem;
}
.topContainer .profile p {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.68rem;
}

.topContainer .bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 4rem;
}
.bottom .plan {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5.4rem;
  border-top: 1px solid var(--border);
  /* gap: 0.8rem; */
  padding-top: 2rem;
}
.plan .first {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  /* width: 0%; */
  gap: 0.8rem;
  height: 5rem;
  padding: 0 2rem;
}
.plan .first:first-child {
  border-right: 1px solid var(--border);
}
.plan .first:last-child {
  border-left: 1px solid var(--border);
}
.plan .first p {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.1rem;
}
.plan .first h4 {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2.1rem;
}
.first .toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  gap: 1.2rem;
}
.toggle .bg {
  background-color: var(--darkBlue);
  width: 4.8rem;
  height: 2.4rem;
  border-radius: 5rem;
  position: relative;
}
.toggle .bg .circle {
  background-color: var(--white);
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 5rem;
  /* padding: 0.9rem; */
  top: 0.2rem;
  right: 0.2rem;
  position: absolute;
  cursor: pointer;
}
.what {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  width: 90%;
  height: 11.5rem;
}
.what p {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.1rem;
}
.what .choices {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: start;
  align-items: center;
  width: 100%;
  height: 8.2rem;
}
.what .choices h5 {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.47rem;
}
.priceCont {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  width: 100%;
  gap: 1.2rem;
}
.rec {
  /* width: 9.1rem;
  height: 2.4rem; */
  font-size: var(--font10);
  font-weight: var(--weight400);
  line-height: 1.5rem;
  position: absolute;
  right: 2rem;
  top: 0;
  background-color: rgba(46, 46, 46, 1);
  padding: 1rem;
  text-align: center;
  border-radius: 0.2rem;
}
.box1,
.box2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  border: 1px solid var(--darkBlue);
  width: 27.7rem;
  height: auto;
  padding: 2rem;
  gap: 1.2rem;
  border-radius: 1rem;
  position: relative;
}
.box1 .intro,
.box2 .intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1.2rem;
}
.introXul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1.2rem;
}
.box1 h3,
.box2 h3 {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.4rem;
}

.box1 p,
.box2 p {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.1rem;
}
.box1 h2,
.box2 h2 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.1rem;
  align-self: center;
  margin-top: 1.2rem;
}
.box1 h2 span,
.box2 h2 span {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 3.6rem;
}
.box1 h2 sup,
.box2 h2 sup {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.1rem;
}
.box1 ul,
.box2 ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.1rem;
  padding: 2rem;
  border-top: 1px solid var(--border);
  width: 100%;
  gap: 1.2rem;
}
.box1 button,
.box2 button {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.8rem;
  padding: 1.6rem 2.4rem;
  align-self: center;
  width: 18rem;
  border: none;
  background-color: var(--darkBlue);
  color: var(--white);
  border-radius: 0.2rem;
}
.box2 {
  background-color: var(--darkBlue);
  color: var(--white);
}
.box2 button {
  background-color: var(--white);
  color: var(--darkBlue);
}

.box2 ul {
  border-top: 1px solid var(--lighterblue2);
}
