:root {
  /* --font32: 3.2rem; */

  --font24: 3.6rem;
  --font20: 3.2rem;

  --font16: 2rem;
  --font18: 1.8rem;

  --font14: 1.6rem;
  --font12: 1.4rem;
  --font10: 1.2rem;
  --lighterblue2: rgba(204, 221, 237, 1);
}
.innerHeader {
  align-items: center;
}
.mobille {
  width: 37.6rem;
  padding: 4rem;
}

.overlay {

  background-size:8rem;
 
}

.text {
  align-items: center;
  width: 60%;
  text-align: center;
}
main {
  height: 34.7rem;
  max-height: 52.7rem;
}
.innerMain {
  width: 90%;
  /* width: 65rem; */
  height: 100%;
  justify-content: space-between;
  position: relative;
  border: 1px solid red;
  overflow-x: hidden;
}


.mobile {
  display: none;
}
.tab {
  display: flex;
}

.span {
  flex-direction: column;
  height: 5.2rem;
}
.p4 {
  align-self: flex-end;
}
aside {
  margin-bottom: 4rem;
}

aside .slides {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  width: 100%;
  /* width: 124rem; */
  height: 100%;
  gap: 2rem;
}
footer {
  height: 43rem;
  justify-content: space-around;
}
.topFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  gap: 1rem;
  height: 17rem;
  /* gap: 5rem; */
}
.footerLogo {
  display: flex;
  width: 14rem;
  height: 8rem;
}
.footerLogo img {
  width: 14rem;
  height: 70%;
}
.topFooter ul {
  grid-template-columns: 1fr 1fr;
  justify-items: start;
  text-wrap: nowrap;
  gap: 2rem;
}
form {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 1.2rem;

  /* width: 37.1rem; */
}
.form1 {
  display: none;
}
.form2 {
  display: flex;
}
.inputXbtn {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 0.5rem;
}
form input {
  width: 20.57rem;
  height: 5rem;
}
/* .form2 a {
  color: var(--white);
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-weight: var(--weight400);
  background-color: var(--darkBlue);
  border: none;
  outline: none;
  width: 30%;
  height: 5rem;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
} */
.bottomFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/*  */
.tips2 {
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  padding: 4rem;
  /* width: 26.2rem; */
  width: 400px;
  height: 34.7rem;
  color: var(--darkBlue);
}
.tips2 h2 {
  font-size: var(--font14);
  font-weight: var(--weight400);
  line-height: 2.4rem;
  background-image: url(../Assets/lighterZigzag.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  height: 4.2rem;
  display: flex;
  justify-content: center;
  align-items: start;
}
.tips2 h2 {
}
.tips2 p,
.tips2 span {
  font-size: var(--font12);
  font-weight: var(--weight400);
  line-height: 1.8rem;

  /* transform: skew(20deg); */
}
.certs {
  width: 100vw;
  height: 34.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  /* padding: 2rem 0; */
  background-color: var(--lighterblue2);
}
.certConts {
  width: 90%;
  height: 100%;
  max-width: 124rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 3rem; */
  position: relative;
}

.slideshow-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.arr {
  display: flex;
  gap: 5rem;
}

.left {
  position: absolute;
  left: 0;
  top: 14rem;
  cursor: pointer;
}
.right {
  position: absolute;
  right: 0;
  top: 14rem;
  cursor: pointer;
}
