:root {
  --darkBlue: rgba(0, 87, 163, 1);
  --white: rgba(255, 255, 255, 1);
  --lightWhite: rgba(217, 217, 217, 1);
  --black: rgba(46, 46, 46, 1);
  --paraCol: rgba(0, 0, 0, 1);
  --darkerBlue: rgba(0, 29, 54, 1);

  /* rgba(0, 87, 163, 1) */

  --lightBlue: rgba(170, 199, 224, 1);
  --lighterblue: rgba(0, 87, 163, 0.5);
  --font32: 3.6rem;

  --font24: 4.8rem;
  --font20: 3.6rem;

  --font16: 2.4rem;
  /* --font18: 1.8rem; */

  --font14: 1.6rem;
  --font12: 2.4rem;
  --font10: 1.4rem;
}
.ham {
  display: none;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
  gap: 3rem;
}
nav li,
nav a {
  font-size: var(--font14);
  line-height: 1.68rem;
  color: var(--darkBlue);
  font-weight: var(--weight400);
  text-decoration: none;
  list-style: none;
}
nav a {
  border: none;
  cursor: pointer;
  padding: 1.6rem 2.4rem;
  font-weight: var(--weight400);
  font-size: var(--font14);
  border-radius: 0.2rem;
}

nav .blue-btn {
  background-color: var(--darkBlue);
  color: var(--white);
}
nav .white-btn {
  background-color: var(--white);
  color: var(--darkBlue);
  border: 1px solid var(--darkBlue);
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 60%;
  gap: 3rem;
}
nav {
  justify-content: space-between;

  /* height: 4rem; */
}
.navBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.6rem;
}
.listDropDown {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}
.currentPage {
  text-decoration: underline;
}
.overlay {
  background-size: 10rem;
}
header {
  height: 48rem;
}
main {
  height: 52.7rem;
}
.tips p,
.tips span {
  font-size: 1.4rem;
  line-height: 2.4rem;
}

aside .slides {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  width: 100%;
  /* width: 124rem; */
  height: 100%;
  gap: 2rem;
}
